# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Env
.env
venv/

# Python cache
__pycache__/
*.pyc

# Pelican build output
output/

# Local Gutenberg downloads used as input sources
pg*-h/
